{# test.twig #}
{% extends "layout.twig" %}

{% block page %}
  <div class="nh-l-grid-photos">
    {% for item in homephotos %}
    <div class="nh-l-grid__item">
      <div class="lightbox">
        <input class="btn-radio photo-on" type="radio" id="photo{{ item.photoID }}on" name="photos" value="ph{{ item.photoID }}">
        <input class="btn-radio photo-off" type="radio" id="photo{{ item.photoID }}off" name="photos" value="ph{{ item.photoID }}off">
        <label class="lightbox__overlay" for="photo{{ item.photoID }}on">
          <img class="nh-l-grid-photo" src="{{ item.photoSRC }}" alt="portrait" loading="eager" width="1000" height="1000">
          <span>Close</span>
        </label>
        <label class="btn-close" for="photo{{ item.photoID }}off"></label>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}