---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import IntroBlock from "@components/IntroBlock.astro";
import { Picture } from "astro:assets";
import myPic from "../../../assets/images/lockdown/pajacq-1.jpg";
import LightboxImage from "../../../components/LightboxImage.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Lockdown Portraits Six";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <IntroBlock
        title="Lockdown Portraits Session Six"
        subtitle="Lucky • Jacqueline & Matt"
    >
        <p class="nh-txt-date">May 13, 2020</p>
        <p class="intro-block__first-paragraph">
            Amidst the upheaval of the 2020 Corona Lockdown, I embarked on a
            personal mini project that became a testament to resilience:
            Lockdown Portraits. These are not just photos; they are glimpses
            into the lives of real people—individuals navigating the challenges
            and triumphs that isolation brings.
        </p>
        <p>
            Each portrait tells a story, not of models, but of everyday heroes
            facing the ordeals of lockdown with courage and grace. To add depth
            to the visual narrative, I posed two questions to each participant,
            unearthing personal insights that accompany their portraits.
        </p>
    </IntroBlock>
    <div class="grid-5050">
        <div class="grid__item">
            <Picture
                src={myPic}
                widths={[282, 912]}
                sizes="(max-width: 912px) 100vw, 912px"
                alt="portrait of Thara, 2020"
                formats={["webp", "avif"]}
                loading="eager"
                class="nh-post-hero"
            />
            <!--<blockquote>
        <p>Our society and our life is so much focused on 'doing', through the lockdown we learn to distance ourselves and just let it 'happen'. I think that is a great development.</p>
      </blockquote>-->
        </div>
        <div class="grid__item grid__item-content">
            <p class="">
                <strong
                    >Can you describe to what extent the lockdown has affected
                    your life and how? both on a personal and professional
                    level?</strong
                >
            </p>
            <p class="nh-txt-quote">
                <q
                    >We are in the luxury position that we have little trouble.
                    Thinking of parents with several children, 3-high, nursing
                    home residents, the lonely and the needy. We have each other
                    and have always been on our own. Our dog, Wouke, ensures
                    that we can take to the streets 4 times a day without shame.</q
                >
            </p>
            <p>
                As far as my work in health care is concerned, there was much
                confusion and contradiction in behavior around distance and
                proximity.
            </p>
            <p class="nh-txt-question">
                <strong
                    >If anything, what do you think will you take away from all
                    this. Any lessons learned?</strong
                >
            </p>
            <p class="nh-txt-quote">
                <q
                    >I think we will never be so lighthearted in the event of a
                    virus outbreak again.</q
                >
            </p>
        </div>
    </div>
    <div class="masonry-grid">
        <LightboxImage
            id={1}
            imagePath="/src/assets/images/lockdown/pajacq-2.jpg"
            altText="Jacq & Matt"
        />
        <LightboxImage
            id={2}
            imagePath="/src/assets/images/lockdown/jacq.jpg"
            altText="Jacq"
        />
        <LightboxImage
            id={3}
            imagePath="/src/assets/images/lockdown/matt.jpg"
            altText="Matt"
        />
    </div>
</BaseLayout>
<style></style>
