---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import IntroBlock from "@components/IntroBlock.astro";
import { Picture } from "astro:assets";
import myPic from "../../../assets/images/lockdown/ld7-1.jpg";
import LightboxImage from "../../../components/LightboxImage.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Lockdown Portraits Seven";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <IntroBlock
        title="Lockdown Portraits Session Seven"
        subtitle="Power of fear • Gyöngyi, Zalán, Benedek, & Mátyika"
    >
            <p class="nh-txt-date">May 23, 2020</p>
            <p class="intro-block__first-paragraph">
                Amidst the upheaval of the 2020 Corona Lockdown, I embarked on a
                personal mini project that became a testament to resilience:
                Lockdown Portraits. These are not just photos; they are glimpses
                into the lives of real people—individuals navigating the
                challenges and triumphs that isolation brings.
            </p>
            <p>
                Each portrait tells a story, not of models, but of everyday
                heroes facing the ordeals of lockdown with courage and grace. To
                add depth to the visual narrative, I posed two questions to each
                participant, unearthing personal insights that accompany their
                portraits.
            </p>
    </IntroBlock>
        <div class="grid-5050">
            <div class="grid__item">
                <Picture
                    src={myPic}
                    widths={[282, 912]}
                    sizes="(max-width: 912px) 100vw, 912px"
                    alt="portrait of Thara, 2020"
                    formats={["webp", "avif"]}
                    loading="eager"
                    class="nh-post-hero"
                />
                <!--<blockquote>
        <p>Our society and our life is so much focused on 'doing', through the lockdown we learn to distance ourselves and just let it 'happen'. I think that is a great development.</p>
      </blockquote>-->
            </div>
            <div class="grid__item grid__item-content">
                <p class="">
                    <strong
                        >Can you describe to what extent the lockdown has
                        affected your life and how? both on a personal and
                        professional level?</strong
                    >
                </p>
                <p class="nh-txt-quote">
                    <q
                        >So.. 2 weeks before the lockdown I finished the
                        renovation of my beauty shop .. everything was brand
                        new.. I spent all my savings on the salon and I had to
                        close it. I tried not to panic though I had a few ups
                        and downs in the first week. After i calmed down I was
                        just happy to be at home with my kids and husband. We
                        never had this freedom here in Holland. Doing nothing
                        and even getting some money . So we had some quality
                        family time together.</q
                    >
                </p>
                <p class="nh-txt-question">
                    <strong
                        >If anything, what do you think will you take away from
                        all this. Any lessons learned?</strong
                    >
                </p>
                <p class="nh-txt-quote">
                    <q
                        >The lesson I learnt that fear is the biggest power in
                        this world. I distanced myself from it and not let
                        myself be influenced by the media, TV or by other
                        people. I will continue this way.</q
                    >
                </p>
            </div>
        </div>
        <div class="masonry-grid">
            <LightboxImage
                id={1}
                imagePath="/src/assets/images/lockdown/ld7-2.jpg"
                altText="ld7"
            />
            <LightboxImage
                id={2}
                imagePath="/src/assets/images/lockdown/ld7-3.jpg"
                altText="ld7"
            />
            <LightboxImage
                id={3}
                imagePath="/src/assets/images/lockdown/ld7-4.jpg"
                altText="ld7"
            />
        </div>
    </IntroBlock>
    <style></style>
</BaseLayout>
