---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import IntroBlock from "@components/IntroBlock.astro";
import { Picture } from "astro:assets";
import myPic from "../../../assets/images/lockdown/bente-1.jpg";
import LightboxImage from "@components/LightboxImage.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Lockdown Portraits Nine";
const pageTitleClass = "sr-only";
---

<BaseLayout
  siteTitle={siteTitle}
  siteTitleClass={pageTitleClass}
  pageTitle={pageTitle}
  pageTitleClass={pageTitleClass}
>
    <IntroBlock
        title="Lockdown Portraits Session Nine"
        subtitle="No expectations • Bente"
    >
    <p class="nh-txt-date">August 15, 2020</p>
    <p class="intro-block__first-paragraph">
      Amidst the upheaval of the 2020 Corona Lockdown, I embarked on a personal
      mini project that became a testament to resilience: Lockdown Portraits.
      These are not just photos; they are glimpses into the lives of real
      people—individuals navigating the challenges and triumphs that isolation
      brings.
    </p>
    <p>
      Each portrait tells a story, not of models, but of everyday heroes facing
      the ordeals of lockdown with courage and grace. To add depth to the visual
      narrative, I posed two questions to each participant, unearthing personal
      insights that accompany their portraits.
    </p>
    </IntroBlock>
  <div class="grid-5050">
    <div class="grid__item">
      <Picture
        src={myPic}
        widths={[282, 912]}
        sizes="(max-width: 912px) 100vw, 912px"
        alt="portrait of Thara, 2020"
        formats={["webp", "avif"]}
        loading="eager"
        class="nh-post-hero"
      />
      <!--<blockquote>
        <p>Our society and our life is so much focused on 'doing', through the lockdown we learn to distance ourselves and just let it 'happen'. I think that is a great development.</p>
      </blockquote>-->
    </div>
    <div class="grid__item grid__item-content">
      <p class="">
        <strong
          >Can you describe to what extent the lockdown has affected your life
          and how? both on a personal and professional level?</strong>
      </p>
      <p class="nh-txt-quote">
        <q
          >Just a few months before the lockdown, end of 2019, I decided to work
          for myself as a freelancer, and start my own business. I decided that
          2020 will be my ‘play’ year full of new experiences, personal growth
          and development. I took a sabbatical, travelled, chilled, but also
          worked, and my business was growing. Although still traveling, and
          chilling in Bali, in March most countries were closing their borders,
          I decided to shorten my stay, be with family and friends and return to
          the Netherlands. But it wasn’t any fun. When I was home in Amsterdam,
          the streets were empty, the bars were closed, I couldn’t hug my family
          and friends.</q>
      </p>
      <p>
        <q
          >No parties, no gatherings, no social life, no dating life, no work,
          no traveling, but inherent to the lockdown.
        </q>
      </p>
      <p>
        <q
          >But then I reminded myself the sentence Reinhold Niebuhr mentioned in
          his book “Grant me the serenity to accept the things I cannot change
          the courage to change the things I can, and the wisdom to know the
          difference”
        </q>
      </p>
      <p>
        <q
          >I took this as an opportunity to reset the clock for myself, to take
          life as it comes, and be alone with myself and my own emotions,
          without any distractions.</q>
      </p>
      <p class="nh-txt-question">
        <strong
          >If anything, what do you think will you take away from all this. Any
          lessons learned?</strong>
      </p>
      <p class="nh-txt-quote">
        <q
          >Yes, to never expect anything. Even with such a tremendous world-wide
          global issue, people don’t change. And if they change, they don’t need
          any pandemic to do so, they would have done it anyway, because they
          wanted it.</q
        >
      </p>
      <p>
        <q
          >In 2019 I made the plan that 2020 will be a year for personal- and
          developmental growth, exploration, not earning money, but just ‘play’,
          travel and chill. And nothing changed this plan, except that it felt
          that the whole world was joining me in this for maximum two months :-)</q>
      </p>
    </div>
  </div>
  <div class="masonry-grid">
    <LightboxImage
      id={1}
      imagePath="/src/assets/images/lockdown/bente-2.jpg"
      altText="bente"
    />
    <LightboxImage
      id={2}
      imagePath="/src/assets/images/lockdown/bente-3.jpg"
      altText="bente"
    />
    <LightboxImage
      id={3}
      imagePath="/src/assets/images/lockdown/bente-4.jpg"
      altText="bente"
    />
  </div>
</BaseLayout>
<style></style>
