---
import BaseLayout from "@layouts/BaseLayout.astro";
import LightboxImage from "@components/LightboxImage.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Japan";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="intro-block">
        <h1 class="intro-block__title">{pageTitle}</h1>
    </div>
    <div class="masonry-grid">
        <LightboxImage
            id={1}
            imagePath="/src/assets/images/travel/japan/DSCF0020_v1.jpg"
            altText="Tokyo"
        />
        <LightboxImage
            id={2}
            imagePath="/src/assets/images/travel/japan/DSCF0019_v1.jpg"
            altText="Tokyo"
        />
        <LightboxImage
            id={3}
            imagePath="/src/assets/images/travel/japan/DSCF0078_v1.jpg"
            altText="Tokyo restaurant"
        />
        <LightboxImage
            id={4}
            imagePath="/src/assets/images/travel/japan/DSCF0254.jpg"
            altText="Tokyo Rockabillies"
        />
        <LightboxImage
            id={5}
            imagePath="/src/assets/images/travel/japan/DSCF0690_v1.jpg"
            altText="Tokyo Suit Men"
        />
        <LightboxImage
            id={6}
            imagePath="/src/assets/images/travel/japan/trees.jpg"
            altText="Tokyo tree"
        />
        <LightboxImage
            id={7}
            imagePath="/src/assets/images/travel/japan/DSCF0198_v1.jpg"
            altText="Japanese craftsman"
        />
        <LightboxImage
            id={8}
            imagePath="/src/assets/images/travel/japan/DSCF0269_v1.jpg"
            altText="Japan landscape"
        />
    </div>
</BaseLayout>
<style></style>
