---
import DsBaseLayout from "../../layouts/DsBaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Text Content Elements";
const pageTitleClass = "sr-onlyx";
---

<DsBaseLayout
  siteTitle={siteTitle}
  siteTitleClass={pageTitleClass}
  pageTitle={pageTitle}
  pageTitleClass={pageTitleClass}
>
  <header>
    <h1 class={siteTitleClass}>{siteTitle}: {pageTitle}</h1>
  </header>
  <main>
    <h2>text content elements</h2>
    <h3>The <code>blockquote</code> element</h3>
    <p>without figure element</p>
    <blockquote cite="https://www.huxley.net/bnw/four.html">
      <p>
        Words can be like X-rays, if you use them properly—they’ll go through
        anything. You read and you’re pierced.
      </p>
      —Aldous Huxley, <cite>Brave New World</cite>
    </blockquote>
    <p>with figure element</p>
    <figure>
      <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>
          Words can be like X-rays, if you use them properly—they’ll go through
          anything. You read and you’re pierced.
        </p>
      </blockquote>
      <figcaption>—Aldous Huxley, <cite>Brave New World</cite></figcaption>
    </figure>
    <hr />
    <h3>&lt;dl&gt;: The Description List element</h3>
    <p>
      The &lt;dl&gt; HTML element represents a description list. The element
      encloses a list of groups of terms (specified using the &lt;dt&gt;
      element) and descriptions (provided by &lt;dd&gt; elements). Common uses
      for this element are to implement a glossary or to display metadata (a
      list of key-value pairs).
    </p>
    <dl>
      <dt>Beast of Bodmin</dt>
      <dd>A large feline inhabiting Bodmin Moor.</dd>
      <dt>Morgawr</dt>
      <dd>A sea serpent.</dd>
      <dt>Owlman</dt>
      <dd>A giant owl-like creature.</dd>
    </dl>
    <hr />
    <h3><code>figure</code> and <code>figcaption</code></h3>
    <figure>
      <img
        src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/elephant-660-480.jpg"
        alt="Elephant at sunset"
        width="660"
        height="480"
      />
      <figcaption>An elephant at sunset</figcaption>
    </figure>
    <hr />
    <h3>&lt;hr&gt;: The Thematic Break (Horizontal Rule) element</h3>
    <p>
      The &lt;hr&gt; HTML element represents a thematic break between
      paragraph-level elements: for example, a change of scene in a story, or a
      shift of topic within a section.
    </p>
    <hr />
    <h3>&lt;li&gt;: The List Item element</h3>
    <p>
      The &lt;li&gt; HTML element is used to represent an item in a list. It
      must be contained in a parent element: an ordered list (&lt;ol&gt;), an
      unordered list (&lt;ul&gt;), or a menu (&lt;menu&gt;). In menus and
      unordered lists, list items are usually displayed using bullet points. In
      ordered lists, they are usually displayed with an ascending counter on the
      left, such as a number or letter.
    </p>
    <ul>
      <li>Neil Armstrong</li>
      <li>Alan Bean</li>
      <li>Peter Conrad</li>
      <li>Edgar Mitchell</li>
      <li>Alan Shepard</li>
    </ul>
    <ol>
      <li>first item</li>
      <li>second item</li>
      <li>third item</li>
    </ol>
    <menu>
      <li><button id="save">Save for later</button></li>
      <li><button id="share">Share this news</button></li>
    </menu>
    <hr />
    <h3>&lt;p&gt;: The Paragraph element</h3>
    <p>
      The &lt;p&gt; HTML element represents a paragraph. Paragraphs are usually
      represented in visual media as blocks of text separated from adjacent
      blocks by blank lines and/or first-line indentation, but HTML paragraphs
      can be any structural grouping of related content, such as images or form
      fields.
    </p>
    <p>
      Paragraphs are block-level elements, and notably will automatically close
      if another block-level element is parsed before the closing &lt;/p&gt;
      tag.
    </p>
    <h3>&lt;pre&gt;: The Preformatted Text element</h3>
    <p>
      The &lt;pre&gt; HTML element represents preformatted text which is to be
      presented exactly as written in the HTML file. The text is typically
      rendered using a non-proportional, or monospaced, font. Whitespace inside
      this element is displayed as written.
    </p>
    <code>
      <pre>
&lt;div&gt;hello&lt;/div&gt;
      </pre>
    </code>
  </main>
</DsBaseLayout>
