---
import BaseLayout from "@layouts/BaseLayout.astro";
import LightboxImage from "@components/LightboxImage.astro";
import PhotoButton from "@components/PhotoButton.astro";
import IntroBlock from "@components/IntroBlock.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Cambodia";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <IntroBlock title={pageTitle} />
    <div class="masonry-grid">
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/L1010015_v3_K64+.jpg"
            altText="Mother and child portrait"
            position="top"
        >
            Mother and child
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/L1010096_v1.jpg"
            altText="Mother and child, side view"
            position="right"
        >
            Mother and child
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/_DSC6260_v1.jpg"
            altText="Child at market"
        >
            Child at market
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/_DSC6276_v1.jpg"
            altText="Father and child together"
        >
            Father and child
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/_DSC6284_v1.jpg"
            altText="Men playing a board game"
        >
            Men playing a board game
        </PhotoButton>
    </div>
</BaseLayout>
<style></style>
