---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import myPic from "../assets/images/about/nils-about-sq.jpg";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="grid-5050">
        <div class="grid__item">
            <Picture
                src={myPic}
                widths={[282, 912]}
                sizes="(max-width: 912px) 100vw, 912px"
                alt="portrait of me, nils hendriks, 2020"
                formats={["webp", "avif"]}
                loading="eager"
                class="nh-post-hero"
            />
        </div>
        <div class="grid__item grid__item-content">
            <h1>About me</h1>

            <p class="justified">
                Hi, I’m Nirusu, also known as Nils. I started out with film
                photography back when developing photos in the attic was part of
                the process. Since then, I’ve moved to digital, and I mostly
                focus on capturing people.
            </p>

            <p>
                I like telling stories through my photos, especially with street
                photography and portraits. Whether I’m shooting on the streets
                or in a small studio, I try to capture real moments and everyday
                life.
            </p>

            <p>
                I’ve spent a good part of my life in Asia — three years in
                Singapore and three years in Tokyo — and those experiences have
                influenced how I see and shoot the world around me.
            </p>

            <p>Thanks for stopping by and checking out my work.</p>
            <p>
                <a href="https://www.instagram.com/nirususan"
                    >Follow me on Instagram</a
                >
            </p>
        </div>
    </div>
</BaseLayout>
