---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from '@astrojs/image/components';
import myPic from '../images/nils-about-sq2.jpg';
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="content">
        <h1>About me</h1>
    </div>
    <Picture
        src={myPic}
        widths={[282, 912, 1824]}
        aspectRatio="1:1"
        sizes="(max-width: 912px) 100vw, 912px"
        alt="portrait of me, nils hendriks, 2020"
        formats={["jpg", "webp", "avif"]}
        width={1824}
        height={1824}
        loading="eager"
        class="nh-post-hero"
    />
    <div class="content">
        <p>
            Hello! I'm nirusu aka Nils. I have been taking photos as long as I
            can remember. And remembering brings back the smell of chemicals
            developing film at the attic. Now digital, I focus on photographing
            people. On the streets of wherever and in a pop-up studio.
        </p>
        <p>
            <a href="https://www.instagram.com/nirususan"
            >Follow me on Instagram</a
        >
        </p>
    </div>
</BaseLayout>
