---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from '@astrojs/image/components';
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
import photos from "../data/data-home-photos.json";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="nh-l-grid-photos">

        {photos.map((photo) => (
          <div class="nh-l-grid__item">
            <div class="lightbox">
              <input
                  class="btn-radio photo-on"
                  type="radio"
                  id={`photo_${photo.id}_on`}
                  name="photos"
                  value={`photo_${photo.id}`}
              />
              <input
                  class="btn-radio photo-off"
                  type="radio"
                  id={`photo_${photo.id}_off`}
                  name="photos"
                  value={`photo_${photo.id}_off`}
              />
              <label
                class="lightbox__overlay"
                for={`photo_${photo.id}_on`}
              >
                <Picture
                    src={`/images/${photo.filepath}.jpg`}
                    widths={[280, 560, 900, 1076, 1476]}
                    aspectRatio="1:1"
                    sizes="(max-width: 767px) calc(100vw - 38px), (max-width: 1035px) 71.30434783vw, 24vw"
                    alt={photo.alt}
                    formats={["avif", "webp", "jpg"]}
                    width={1960}
                    height={1960}
                    loading={photo.loading}
                    class="nh-l-grid-photo"
                />
                <!-- <picture>
                    <img
                        src={`/images/${photo.filepath}.jpg`}
                        alt={photo.alt}
                        class="nh-l-grid-photo"
                        loading={photo.loading}
                        width="1960"
                        height="1960"
                    />
                </picture> -->
                <span>Close</span>
              </label>
              <label class="btn-close" for={`photo_${photo.id}_off`}>off</label>
            </div>
          </div>
        ))}
    </div>
</BaseLayout>