---
import BaseLayout from "../layouts/BaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
import photos from "../data/data-home-photos.json";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="nh-l-grid-photos">
        {photos.map((photo, index) => (
          <div class="nh-l-grid__item">
            <div class="lightbox">
              <input
                  class="btn-radio photo-on"
                  type="radio"
                  id={`photo_${photo.id}_on`}
                  name="photos"
                  value={`photo_${photo.id}`}
              />
              <input
                  class="btn-radio photo-off"
                  type="radio"
                  id={`photo_${photo.id}_off`}
                  name="photos"
                  value={`photo_${photo.id}_off`}
              />
              <label
                class="lightbox__overlay"
                for={`photo_${photo.id}_on`}
              >
                <picture>
                    <source type="image/avif" srcset={`/images/${photo.filepath}.avif`} />
                    <source type="image/webp" srcset={`/images/${photo.filepath}.webp`} />
                    <img
                        src={`/images/${photo.filepath}.jpg`}
                        alt={photo.alt}
                        class="nh-l-grid-photo"
                        loading={photo.loading}
                        width="1960"
                        height="1960"
                    />
                </picture>
                <span>Close</span>
              </label>
              <label class="btn-close" for={`photo_${photo.id}_off`}>off</label>
            </div>
          </div>
        ))}
    </div>
</BaseLayout>